body {
	background-color: black;
	color: white;
	font-family: Arial, Helvetica; 
}

table {
    background-color: gold;
    color: black;
}

#rosterpicture {
    text-align:center;
}

h1 {
    text-align:center;
}